@tailwind base;
@tailwind components;
@tailwind utilities;

.circle-green {
	background: theme('colors.terraGreen');
	position: absolute;
	width: 530px;
	height: 530px;
	left: -100px;
	top: -100px;
	border-radius: theme('borderRadius.full');
}

.circle-brown {
	background: theme('colors.dirtBrown');
	position: absolute;
	width: 530px;
	height: 530px;
	right: -220px;
	top: 400px;
	border-radius: theme('borderRadius.full');
}

.circle-blue {
	background: theme('colors.deepBlue');
	position: absolute;
	width: 600px;
	height: 600px;
	right: -150px;
	top: 150%;
	border-radius: theme('borderRadius.full');
}

.circle-grey {
	background: theme('colors.ozoneGrey');
	position: absolute;
	width: 420px;
	height: 420px;
	left: -220px;
	top: 170%;
	border-radius: theme('borderRadius.full');
}

ul > li {
	margin: 16px 0;
}
